# VS code files
.vscode/launch.json
.vscode/settings.json

# Test files
__pycache__/
.pytest_cache
.hypothesis/
.coverage

# Pycharm files
.idea/

# Notebook files
*checkpoint.ipynb
.ipynb_checkpoints

# Cache files
*.pyc

# VI/VIM
*.swp
