{% set CONDA_PY = os.environ.get('CONDA_PY', '36') %}
name: gibbs-py{{ CONDA_PY }}

dependencies:
  # Cpp stack
  - clangdev >=6.0
  - cmake < 3.15
  - make
  - eigen
  - cxx-compiler

  # For the bindings
  - pybind11

  # Python stack
  - python=3.6
  - attrs
  - numpy
  - scipy
  - matplotlib
  - pandas
  - seaborn
  - altair
  - jupyter
  - jupyter_contrib_nbextensions
  - jupyter_nbextensions_configurator
  - sympy
  - git
  - pylint
  - pygmo
  - thermo

  # For tests
  - pytest
  - pytest-lazy-fixture
  - pytest-cov
  - pytest-xdist
  - codecov
  - hypothesis
  - nbval

  # For documentation
  - sphinx

environment:
  PYTHONPATH:
    - {{ root }}
  GIBBS_NOTEBOOKS_DIR: {{ root }}/notebooks
  PY_VERSION: {{ CONDA_PY }}
